<div>
    <label for="username">Username:</label>
    <Input type="text" name="username" id="username" @value={{username}}/>
    <label for="password">Password:</label>
    <Input type="password" name="password" id="password" @value={{password}}/> 
    <button type="button" {{on "click" this.verifyCredentials}}>Log In</button>
</div>
